.root{
    -fx-background-color: #808080;
    -fx-font-size: 10pt; 
    -fx-border-color: #d6d652; 
    -fx-border-width: 5;
    -fx-border-style: segments(10, 15, 15, 15)  line-cap round ;
}
.label{
    -fx-text-fill: #d6d652;
    -fx-font-weight: bold;
}
.button{
    -fx-background-color: #d6d652;
    -fx-text-fill: #fffaf0;
    -fx-font-weight:bold;
    -fx-background-radius: 20;
}
.zoneR{
    -fx-border-color: #d6d652;
    -fx-border-insets: 5;
    -fx-border-width: 3;
}
.title{
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
    -fx-alignment : top-center;
}
.hint{
    -fx-border-color: #d6d652;
    -fx-border-insets: 5;
    -fx-border-width: 3; 
}
